<div class="header">
  <div class="header-container">
    <div class="logo-container">
      <a href="/" class="logo-link">
        <img 
          src="https://cdn.shopify.com/s/files/1/0585/5261/4994/files/Hero_Logobg.png?v=1760263937"
          alt="Black Rabbit"
          class="logo"
        >
      </a>
    </div>
    <nav class="navigation">
      <ul class="nav-links">
        <li><a href="/pages/story" class="nav-link">STORY</a></li>
        <li><a href="/collections/all" class="nav-link">PRODUCTS</a></li>
        <li><a href="/pages/community" class="nav-link">COMMUNITY</a></li>
      </ul>
    </nav>
  </div>
</div>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 40,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Logo width",
      "default": 60
    }
  ]
}
{% endschema %}