<div class="hero-bg" style="background-image: url('{{ 'hero-bg-new.png' | asset_url }}');">
  <main class="hero-content">
    <a href="#notify" class="cta-btn">Launching soon</a>
  </main>
</div>

{% schema %}
{
  "name": "Main Content",
  "presets": [
    {
      "name": "Main Content"
    }
  ]
}
{% endschema %}
